<nav class="navbar mynav navbar-default " >
 <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand font-color " >DOBBO</a>
   </div>
   <ul class="nav navbar-nav">
     <li class="<%=active?(root_path)%>">
			 <%= link_to "", root_path, class: 'glyphicon glyphicon-home font-color', :style=> 'color:#FFFFFF;' %>
		 </li>
     <li class="<%=active?(diary_show_path)%>">
			 <%= link_to "", diary_show_path, class: ' font-color glyphicon glyphicon-book', :style=> 'color:#FFFFFF;' %>
		 </li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     <li><a class="font-color navbar-font">
       <%=current_user.full_name%>
     </a>
   </li>
		 <li class="<%=active?(edit_user_registration_path)%>">
			 <%= link_to "", edit_user_registration_path, class: 'glyphicon glyphicon-user font-color', :style=> 'color:#FFFFFF;' %>
		 </li>
     <li >
			 <%= link_to "", destroy_user_session_path, method: :delete, class: 'glyphicon glyphicon-log-out font-color', :style=> 'color:#FFFFFF;' %>
		</li>
 	</ul>
 </div>
</nav>
