<div class="row">
  <div class="col-lg-8">
    <%= form_for @patient, class: "form-horizontal" do |f| %>
    <% if @patient.errors.any?%>
      <% @patient.errors.full_messages.each do |error|%>
        <%= error.inspect%>
    <% end %>
    <% end %>
    <div class="container-fluid">
      <div class="form-group ">
        <h4>Datos Generales</h4>
        <hr>
        <h5><%= f.label :"nombre*", class: "col-sm-2 control-label" %></h5>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :"apellido_paterno", class: "col-sm-4 control-label" %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :"apellido_materno*", class: "col-sm-4 control-label" %>
        <%= f.text_field  :maternal_surname, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :"telefono*", class: "col-sm-4 control-label" %>
        <%= f.text_field  :telephone, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"correo_electronico*", class: "col-sm-4 control-label" %>
        <%= f.text_field  :email, class: "form-control" %>
      </div>
      <br>
      <hr>
      <br>
      <div class="form-group col-lg-6">
        <%= f.label :"fecha_de_nacimiento", class: "col-sm-6 control-label" %>
        <%= f.date_field  :date_birth, class: "form-control " %>

      </div>


      <div class="form-group col-lg-6">
        <%= f.label :edad, class: "col-sm-4 control-label" %>
        <%= f.number_field  :age, class: "form-control"%>
      </div>

      <div class="form-group col-lg-8">
        <br>
        <br>
        <%= f.label :"estado_civil", class: "col-sm-4 control-label" %>
        <%= f.select :civil_status, ['Soltero', 'Casado'], class: "form-control" %>
      </div>


      <div class="form-group col-lg-4">
        <br>
        <br>
        <%= f.label :"sexo", class: "col-sm-4 control-label" %>
        <%= f.select :gender, ['No especificado','Masculino', 'Femenino'], class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"escolaridad", class: "col-sm-4 control-label" %>
        <%= f.text_field  :scholarship, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"ocupación", class: "col-sm-4 control-label" %>
        <%= f.text_field  :occupation, class: "form-control" %>
      </div>

      <div class="form-group">
        <br>
        <br>
        <h4>Domicilio</h4>
        <hr>
        <%= f.label :"calle", class: "col-sm-4 control-label" %>
        <%= f.text_field  :street, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"numero", class: "col-sm-4 control-label" %>
        <%= f.number_field  :number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"colonia", class: "col-sm-4 control-label" %>
        <%= f.text_field  :suburb, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"ciudad", class: "col-sm-4 control-label" %>
        <%= f.text_field  :city, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"municipio", class: "col-sm-4 control-label" %>
        <%= f.text_field  :mun, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :"estado", class: "col-sm-4 control-label" %>
        <%= f.text_field  :county, class: "form-control" %>
      </div>

      <div class="form-group">
        <br>
        <br>
        <h4>Motivo de la visita</h4>
        <hr>
        <%= f.text_area :reason_desc, class: "form-control" %>
      </div>



    </div>
    <div class="form-group form-group col-md-offset-11">
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
