<tr>
      <td>
        <%= patient.id%>
      </td>
      <td>
         <%= link_to truncate(patient.full_name),patient %>
       </td>
       <td>
          <%= patient.telephone %>
        </td>
        <td class="hidden-xs">
           <%= patient.email %>
         </td>

      <td class="hidden-xs">
        <%= link_to "" , edit_patient_path(patient), id:"edit_#{patient.id}", class: 'btn btn-warning glyphicon glyphicon-pencil'%>
      </td>
      <td class="hidden-xs">
        <%= link_to "" , patient_path(patient),method: :delete, id:"edit_#{patient.id}", class: 'btn btn-danger glyphicon glyphicon-remove ',data: { confirm: '¿Seguro que quiere eliminar este paciente?' }%>
      </td>
      <td class="hidden-xs">
        <%= link_to "Consulta" , patient_path(patient),method: :delete, id:"edit_#{patient.id}", class: 'btn btn-info ', data: { confirm: '¿Seguro que quiere eliminar este paciente?' }%>
      </td>
</tr>
