
<%= render "devise/shared/navregis",:locals => {:action=>"Iniciar Sesion"} %>
<div>
<div class="container ">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 jumbotron wells ">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-top-left">
                  <h3>Inicio de Sesión</h3>
                  <hr>
                </div>
                <div class="field ">
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-username form-control",placeholder: "Email..." %>
                  </div>
                </div>
                <div class="form-group">
                  <div class="field">
                    <%= f.label :contraseña %><br />
                    <%= f.password_field :password, autocomplete: "off",class: "form-username form-control" %>
                  </div>
                </div>
                <div class="form-group">
                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>
                </div>
                <div class="form-group">
                  <div class="actions">
                    <%= f.submit "Log in", class: "btn btn btn-success" %>
                  </div>
                <% end %>
                </div>
              <%= render "devise/shared/links" %>
                </div>
      </div>
    </div>
