<div class="row">
  <div class="col-lg-8">
    <%= form_for @appointment, class: "form-horizontal" do |f| %>
    <% if @appointment.errors.any?%>
      <% @appointment.errors.full_messages.each do |error|%>
        <%= error.inspect%>
    <% end %>
    <% end %>
    <div class="container-fluid ">
      <div class="form-group ">
        <h4>Datos de la cita</h4>
        <hr>
        <h5><%= f.label :"Paciente: ", class: "col-sm-8 control-label" %></h5>
        <%= f.collection_select(:patient_id, current_user.patients, :id, :full_name ,class: 'form-control') %>
      </div>
      <div class="form-group ">
        <h5><%= f.label :"Fecha y hora de inicio: ", class: "col-sm-6 control-label" %></h5>
        <%= f.datetime_select  :start_date %>


        <br>
      </div>
      <div class="form-group ">
        <h5><%= f.label :"Hora de fin: ", class: "col-sm-6 control-label" %></h5>
        <%= f.datetime_select  :end_date %>


        <br>
      </div>
      <div class="form-group ">
        <br>
        <h4 >Observaciones adicionales</h4>
        <hr>
        <br>
        <%= f.text_area  :observation ,class: "form-control"%>
      </div>

    <div class="form-group col-md-offset-11">
      <br>
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
    </div>
    <% end %>
  </div>
</div>
</div>
